body {
  padding: 0;
  margin: 0;
  background-color: #f3f2f1;
}
@media only screen and (min-width: 0px) {
  .app-container {
    margin: 0;
  }
}
@media only screen and (min-width: 1108px) {
  .app-container {
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.header-container {
  width: 100vw;
  margin-bottom: 5em;
}

.content-container {
  width: 100%;
  text-align: center;
  align-items: center;
}
